.turnOrderContainer {
    display: flex;
    justify-content: center;
    gap: 2em;
    z-index: var(--mid-layer);
}

.turnOrderPortait {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 3.6em;
}

.turnOrderSprite {
    height: 175%;
    object-fit: cover;
    image-rendering: pixelated;
    transform: translateX(-3px);
}
.turnOrderSprite[data-entity-type="player"] {
    height: 200%;
    transform: translateX(0);
}

.turnOrderContainer .characterSprite {
    width: 3.6em;
    height: 3.6em;
    overflow: hidden;
    object-fit: cover; 
}

.turnOrderContainer .characterSprite.player {
    height: 175%;
    object-fit: cover; 
    object-position: 0 .7em;
}

.turnOrderContainer .characterSprite.npc {
    height: 200%;
    object-position: 0 1.8em;
}

.turnOrderContainer .npc.Ent {
    object-position: 1.8em 1.8em;
}

.turnOrderContainer .npc.Manticore {
    object-position: 0 5px;
}

.turnOrderContainer .npc.Goblin {
    object-position: 1em 1.8em;
}
.turnOrderContainer .npc.Rat {
    height: 175%;
    object-position: 1em .7em;
}

.turnOrderItem {
    background-color: var(--white-soft);
    border: 2px solid var(--white);
    padding: .5rem;
}

.turnOrderPortait.dead {
    display: none;
}

.turnOrderItem[data-entity-modified="Dark"] {
    background-color: var(--dark-soft);
    border: 2px solid var(--dark);
}

.turnOrderItem[data-entity-modified="Ice"] {
    background-color: var(--ice-soft);
    border: 2px solid var(--ice);
}

.turnOrderItem[data-entity-modified="Fire"] {
    background-color: var(--fire-soft);
    border: 2px solid var(--fire);
}

.turnOrderItem[data-entity-modified="Lightning"] {
    background-color: var(--lightning-soft);
    border: 2px solid var(--lightning);
}

.debuffs {
    display: flex;
    width: 4.4em;
    margin-top: 2px;
    flex-wrap: wrap;
}

.debuffIcon {
    width: 1.2rem;
    height: 1.2rem;
    object-fit: contain;
    image-rendering: pixelated;
}

@media screen and (max-height: 420px) {
    
    .turnOrderPortait {
        width: 3em;
    }

    .turnOrderContainer .characterSprite {
        width: 3em;
        height: 3em;
    }
}