.turn-order-container {
    display: flex;
    gap: .5rem;
    border: 1px solid white;
    padding: 1rem;
}

.turn-order-item {
    border: 1px solid white;
    padding: .5rem;
}

.turn-order-item.remove {
    display: none;
}