.turnOrderContainer {
    display: flex;
    justify-content: center;
    gap: 2em;
    z-index: var(--mid-layer);
}

.turnOrderPortait {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 3.6em;
}

.turnOrderSprite {
    height: 175%;
    object-fit: cover;
    image-rendering: pixelated;
}

.turnOrderContainer .turnOrderSpriteContainer {
    width: 3.6em;
    height: 3.6em;
    overflow: hidden;
    object-fit: cover; 
}

.turnOrderSprite[data-entity-type="player"],.turnOrderSprite[data-entity-size="medium"], .turnOrderSprite[data-entity-size="large"] {
    height: 200%;
}

.turnOrderItem {
    background-color: var(--white-soft);
    border: 2px solid var(--white);
}

.turnOrderPortait.dead {
    display: none;
}

.turnOrderItem[data-entity-modified="Dark"] {
    background-color: var(--dark-soft);
    border: 2px solid var(--dark);
}

.turnOrderItem[data-entity-modified="Ice"] {
    background-color: var(--ice-soft);
    border: 2px solid var(--ice);
}

.turnOrderItem[data-entity-modified="Fire"] {
    background-color: var(--fire-soft);
    border: 2px solid var(--fire);
}

.turnOrderItem[data-entity-modified="Lightning"] {
    background-color: var(--lightning-soft);
    border: 2px solid var(--lightning);
}

@media (max-height: 431px) {
    
    .turnOrderPortait {
        width: 3em;
    }

    .turnOrderContainer .turnOrderSpriteContainer {
        width: 3em;
        height: 3em;
    }
}