.spriteContainer {
    width: 4.5em;
    height: 9em;
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    position: relative;
    overflow: hidden;
    z-index: var(--lower-layer);
}

.spriteContainer[data-type='npc'] {
    width: 7em;
    height: 13.5em;
}

.spriteGlow {
    position: absolute;
    bottom: 33%;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 4.5em;
    height: 9em;
    z-index: var(--low-layer);
    background-color: transparent;
    transition: background-color 0.2s ease, filter 0.2s ease;
}

.spriteGlow:hover {
    background-color: var(--white-soft);
    filter: blur(20px) drop-shadow(0px 0px 2px rgba(255, 255, 255, 0.05));
}

.sprite {
    height: 9em;
    object-fit: initial; 
    image-rendering: pixelated;
    position: absolute;
    z-index: var(--lower-layer);
}

.sprite[data-type='player']{
    width: 14.3em; 
    left: -9.5em;
}

.sprite[data-type='npc'] {
    position: relative;
    width: 7em;
    height: 13.5em;
}

.shadow {
    position: absolute;
    bottom: -1.5em;
    left: 1em;
    width: 6em;
    height: 2em;
    z-index: var(--lowest-layer);
    filter: blur(8px);
    mix-blend-mode: luminosity;
    display: none;
}
.spriteContainer:has(.sprite[data-entity-size='small']),
.sprite[data-entity-size='small']  {
    width: 7em;
    height: 9.5em;
}

.spriteContainer:has(.sprite[data-entity-size='large']),
.sprite[data-entity-size='large']  {
    width: 10.3em;
}

@keyframes flashDamage {
    0%, 100% { filter: invert(1) }
    50% { filter: none }
}

.flashDamage {
    animation: flashDamage 600ms linear 2;
}

.spriteContainer [data-entity-modified="Fire"] img {
    filter: drop-shadow(1px 1px red) drop-shadow(1px -1px red)
    drop-shadow(-1px 1px red) drop-shadow(-1px -1px red)
    drop-shadow(10px 1px 4px rgba(0, 0, 0, 0.75));
}

.spriteContainer [data-entity-modified="Ice"] img {
    filter: drop-shadow(1px 1px dodgerblue) drop-shadow(1px -1px dodgerblue)
    drop-shadow(-1px 1px dodgerblue) drop-shadow(-1px -1px dodgerblue)
    drop-shadow(10px 1px 4px rgba(0, 0, 0, 0.75));
}

.spriteContainer [data-entity-modified="Dark"] img {
    filter: drop-shadow(1px 1px purple) drop-shadow(1px -1px purple)
    drop-shadow(-1px 1px purple) drop-shadow(-1px -1px purple)
    drop-shadow(10px 1px 4px rgba(0, 0, 0, 0.75));
}

.damageEffect {
    animation: 300ms;
    animation: damageAnimation 900ms ease-out forwards;
    bottom: 0;
    z-index: var(--high-layer);
    position: absolute;
    text-shadow: 2px 2px 2px var(--shadow);
}

@keyframes damageAnimation {
    0%   { transform: translateY(-7.1em); opacity: 0; }
    30%  { transform: translateY(0px); opacity: 1; }
    50%  { transform: translateY(-40px); }
    70%  { transform: translateY(0px); }
    85%  { transform: translateY(-20px); }
    93%  { transform: translateY(0px); }
    97%  { transform: translateY(-10px); }
    100% { transform: translateY(0px); }
}

.damageEffect[data-type='player']{
    right: 5.1em;
}

.damageEffect[data-type='npc'] {
    left: 5.1em;
}

.damageEffect[data-damage-type="Fire"] {
    color: var(--white);
    text-shadow:
        3px 3px 0 var(--fire),
        -3px 3px 0 var(--fire),
        -3px -3px 0 var(--fire),
        3px -3px 0 var(--fire);
}

[data-damage-type="Ice"] {
    color: var(--shadow);
    text-shadow:
        3px 3px 0 var(--ice),
        -3px 3px 0 var(--ice),
        -3px -3px 0 var(--ice),
        3px -3px 0 var(--ice);
}

[data-damage-type="Lightning"] {
    color: var(--shadow);
    text-shadow:
        3px 3px 0 var(--lightning),
        -3px 3px 0 var(--lightning),
        -3px -3px 0 var(--lightning),
        3px -3px 0 var(--lightning);
}

.damageEffect[data-damage-type="Physical"] {
    color: var(--shadow);
    text-shadow:
        3px 3px 0 var(--white),
        -3px 3px 0 var(--white),
        -3px -3px 0 var(--white),
        3px -3px 0 var(--white);
}

.spriteDeath {
    height: 7em;
    object-fit: initial; 
    image-rendering: pixelated;
    position: absolute;
    width: 14.2em; 
    filter: grayscale(1);
}

.deathEffect[data-type='player']{
    animation: deathPlayerAnimation .6s steps(1) 1;
    animation-delay: 1000ms;
}

@keyframes deathPlayerAnimation {
    0% { transform: translateX(-217px); width: 20em; }
    33% { transform: translateX(-154px);  width: 20em;}
    66% { transform: translateX(-90px); width: 20em; }
    100% { transform: translateX(0); } 
}

.spriteDeath[data-type='player'] {
    cursor: not-allowed;
}

[data-death='true'][data-type='npc'] {
    animation: deathNPCAnimation 900ms linear forwards;
    animation-delay: 1000ms;
}

@keyframes deathNPCAnimation {
    0% { filter: blur(0) grayscale(0); opacity: 1;}
    33% { filter: blur(3px) grayscale(.3); opacity: 1;}
    66% { filter: blur(6px) grayscale(.6); opacity: 1;}
    99% { filter: blur(10px) grayscale(1); opacity: 0} 
	100% {visibility: hidden;}
}

/* Attack */

@keyframes attackAnimation {
    0% { transform: translateX(0); }
    100% { transform: translateX(200px); } 
}

.attack[data-type='player'] {
    animation: attackAnimation 300ms steps(3) 3; 
}


/* Defend */

@keyframes defendAnimation {
    0% { transform: translateX(0); }
    100% { transform: translateX(200px); } 
}

.defend[data-type='player'] {
    animation: defendAnimation 300ms steps(3) 3; 
}

/* spell */

.spellAnimation {
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: left center;
    image-rendering: pixelated;
    z-index: var(--mid-layer);
    pointer-events: none;
}


@keyframes lightning {
    from {background-position-x: 0;} to {background-position-x: -36em;}
}

@keyframes sword {
    from {background-position-x: 0;} to {background-position-x: -18em;}
}


@keyframes quickAttack {
    from {background-position-x: 0;} to {background-position-x: -36em;}
}

@keyframes leech {
    from {background-position-x: 0;} to {background-position-x: -36em;}
}

@keyframes burning {
    from {background-position-x: 0;} to {background-position-x: -12em;}
}

@keyframes shadowDagger {
    from {background-position-x: 0;} to {background-position-x: -12em;}
}

@keyframes ice {
    from {background-position-x: 0;} to {background-position-x: -24em;}
}

@keyframes fire {
    from {background-position-x: 0;} to {background-position-x: -21em;}
}

@keyframes holyExplosion {
    from {background-position-x: 0;} to {background-position-x: -21em;}
}

@keyframes holyStrike {
    from {background-position-x: 0;} to {background-position-x: -15em;}
}

@keyframes devastate {
    from {background-position-x: 0;} to {background-position-x: -30em;}
}

@keyframes cleave {
    from {background-position-x: 0;} to {background-position-x: -30em;}
}

@keyframes heal {
    from {background-position-x: 0;} to {background-position-x: -36em;}
}

@keyframes healAll {
    from {background-position-x: 0;} to {background-position-x: -36em;}
}

@keyframes cure {
    from {background-position-x: 0;} to {background-position-x: -15em;}
}