
.sprite-container {
    width: 65px;
    height: 96px;
    display: flex;
    justify-content: center;
    justify-content: flex-start; 
    align-items: center;
    position: relative;
    overflow: hidden;
}

.sprite {
    height: 96px;
    object-fit: initial; 
    image-rendering: pixelated;
    position: absolute;
}

.sprite.player {
    width: 200px; 
    left: -136px;
    filter: drop-shadow(-2px 2px 2px black);
}

.sprite.npc {
    position: relative;
    width: 96px; 
    filter: drop-shadow(2px 2px 2px black);
}

.sprite.npc.Rat, .sprite.npc.Goblin {
    height: 64px;
}

.sprite-container:has(.Ent), .sprite-container:has(.Ettin), .sprite-container:has(.Manticore) {
    width: 96px;
    height: 96px;
}

@keyframes flash-damage {
    0%, 100% { filter: invert(1) }
    50% { filter: none }
}

.flash-damage {
    animation: flash-damage .6s linear 2;
}


[data-entity-modified="Fire"] img {
    filter: drop-shadow(1px 1px red) drop-shadow(1px -1px red)
    drop-shadow(-1px 1px red) drop-shadow(-1px -1px red)
    drop-shadow(10px 1px 4px rgba(0, 0, 0, 0.75));
}

[data-entity-modified="Ice"] img {
    filter: drop-shadow(1px 1px dodgerblue) drop-shadow(1px -1px dodgerblue)
    drop-shadow(-1px 1px dodgerblue) drop-shadow(-1px -1px dodgerblue)
    drop-shadow(10px 1px 4px rgba(0, 0, 0, 0.75));
}

[data-entity-modified="Dark"] img {
    filter: drop-shadow(1px 1px purple) drop-shadow(1px -1px purple)
    drop-shadow(-1px 1px purple) drop-shadow(-1px -1px purple)
    drop-shadow(10px 1px 4px rgba(0, 0, 0, 0.75));
}

.damage-effect {
    animation: damageAnimation 0.9s ease-out forwards;
    top: 0;
    z-index: 4;
    position: absolute;
}

@keyframes damageAnimation {
    0%   { top: -40px; opacity: 0; }
    30%  { top: 82px; opacity: 1; }
    50%  { top: 96px; }
    70%  { top: 70px; }
    85%  { top: 90px; }
    93%  { top: 78px; }
    100% { top: 82px; }
}

.damage-effect.player {
    right: 100px;
}

.damage-effect.npc {
    left: 100px;
}

.damage-effect[data-damage-type="Fire"] {
    color: #fff;
    text-shadow:
        3px 3px 0 red,
        -3px 3px 0 red,
        -3px -3px 0 red,
        3px -3px 0 red;
}

[data-damage-type="Ice"] {
    color: #fff;
    text-shadow:
        3px 3px 0 blue,
        -3px 3px 0 blue,
        -3px -3px 0 blue,
        3px -3px 0 blue;
}

[data-damage-type="Lightning"] {
    color: #000;
    text-shadow:
        3px 3px 0 yellow,
        -3px 3px 0 yellow,
        -3px -3px 0 yellow,
        3px -3px 0 yellow;
}

.damage-effect[data-damage-type="Physical"] {
    color: #000;
    text-shadow:
        3px 3px 0 white,
        -3px 3px 0 white,
        -3px -3px 0 white,
        3px -3px 0 white;
}

@keyframes attackMoveAnimation {
    0% { transform: translateX(0); }
    50% { transform: translateX(200px); }
    100% { transform: translateX(0); } 
}

.attack-move.player {
    animation: attackMoveAnimation .9s linear 1; 
}

@keyframes attackNPCMoveAnimation {
    0% { transform: translateX(0); }
    50% { transform: translateX(-200px); }
    100% { transform: translateX(0); } 
}


.attack-move.npc {
    animation: attackNPCMoveAnimation .9s linear 1 reverse; 
}

@keyframes attackAnimation {
    0% { transform: translateX(0); }
    100% { transform: translateX(200px); } 
}

.attack.player {
    animation: attackAnimation .3s steps(3) 3; 
}

.sprite_death {
    height: 96px;
    object-fit: initial; 
    image-rendering: pixelated;
    position: absolute;
    width: 203px; 
    filter: drop-shadow(-2px 2px 2px black);
}

.death-effect {
    animation: deathAnimation .6s steps(1) 1;
    animation-delay: 1s;
}

@keyframes deathAnimation {
    0% { transform: translateX(-217px); width: 280px; }
    33% { transform: translateX(-154px);  width: 280px;}
    66% { transform: translateX(-90px); width: 280px; }
    100% { transform: translateX(0); } 
}