.background {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:  1416px;
    height: 690px;
    background-color: var(--background);
    z-index: var(--lowest-layer);
    border-radius: 5%;
}

.crt {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1416px;
    height: 690px;
    background: linear-gradient(to top, hsla(0, 0%, 0%, 0.20), hsla(0, 0%, 0%, 0.20), hsla(0, 0%, 20%, 0.20), hsla(0, 0%, 20%, 0.20));
    background-size: cover;
    background-size: 100% 8px;
    z-index: var(--highest-layer);
    pointer-events: none;
    border-radius: 5%;
}