.background {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(var(--width) - 1.5em);
    height: calc(var(--height) - 2em);
    border-radius: var(--big-radius);
    background-color: var(--background);
    z-index: var(--lowest-layer);
}

.backgroundBorder {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: var(--width);
    height: var(--height);
    z-index: var(--lowest-layer);
    pointer-events: none;
    border-radius: var(--big-radius);
    box-shadow: 0 0 4em hsla(0, 0%, 0%, 0.9) inset;

}

.crt {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: calc(var(--width) - 3.75em);
    height: calc(var(--height) - 3.4em);
    background: linear-gradient(to top, hsla(0, 0%, 0%, 0.20), hsla(0, 0%, 0%, 0.20), hsla(0, 0%, 20%, 0.20), hsla(0, 0%, 20%, 0.20));
    background-size: 100% 8px;
    z-index: var(--highest-layer);
    pointer-events: none;
    border-radius: var(--big-radius);
}

/* GLOW */

.glow {
    position: fixed;
    top: 50%;
    left: 50%;
    width: calc(var(--width) - 3.75em);
    height: calc(var(--height) - 3.4em);
    transform: translate(-50%, -50%);
    background-color: var(--background);
    border-radius: var(--big-radius);
    background-size: cover;
    pointer-events: none;
    filter: blur(1em) saturate(.9) brightness(1.1) opacity(.5);
    animation: glow 5s ease-in-out infinite;
    z-index: var(--lower-layer);
}


@keyframes glow {
    0%, 100% {     
        filter: blur(1em) saturate(.9) brightness(1.1) opacity(.25); }
    50% {     
        filter: blur(.5em) saturate(.9) brightness(.9) opacity(.25); }
}

.glow[data-glow='Field'] {
    background-image: url('/assets/backgrounds/Field.jpg');
}
.glow[data-glow='Forest'] {
    background-image: url('/assets/backgrounds/Forest.jpg');
}
.glow[data-glow='Desert'] {
    background-image: url('/assets/backgrounds/Desert.jpg');
}
.glow[data-glow='Cave'] {
    background-image: url('/assets/backgrounds/Cave.jpg');
}
.glow[data-glow='City'] {
    background-image: url('/assets/backgrounds/City.jpg');
}
.glow[data-glow='Snow'] {
    background-image: url('/assets/backgrounds/Snow.jpg');
}

/* LEVEL */

.currentLevelText, .scoreContainer span {
    color: var(--white);
    text-shadow: 2px 2px 1px var(--shadow);
}

.rightContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: auto;
}

.leftContainer {
    display: flex;
    align-items: center;
    margin-right: auto;
}

/* Settings icon */

.settingsContainer {
    margin-right: auto;
}

.settingsIcon {
    width: 4.5em;
    height: 4.5em;
    object-fit: contain;
    image-rendering: pixelated;
    cursor: pointer;
}

.settingsOverlay[data-open="true"] {
    position: absolute;
    top: -54%;
    left: -2.65%;
    width: var(--width);
    height: var(--height);
    background: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: var(--high-layer); 
    cursor: pointer;
    border-radius: var(--big-radius);
}

.settingsMenu[data-open="false"] {
    display: none;
}

.settingsMenu[data-open="true"] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    width: var(--menu-width);
    height: var(--menu-height);
    image-rendering: pixelated;
    border-image-slice: var(--border-image-slice);
    border-image-width: var(--border-image-width);
    border-image-source: var(--border-image-source);
    border-image-repeat: var(--border-image-repeat);
    color: var(--font);
    background-color: var(--background-secondary);
}

.settingsRow {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    gap: 0.25rem;
    font-size: 1.2rem;
    color: var(--font);
}

input[type="range"] {
    width: 10em;
    appearance: none;
    height: 8px;
    background: #444;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    margin-top: 4px;
}

input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 1.2rem;
    height: 1.2rem;
    background: #ccc;
    border: 2px solid #222;
    border-radius: 50%;
    box-shadow: 0 0 2px #000;
}

input[type="range"]::-webkit-slider-thumb:hover {
    background: #eee;
}

/* Action Text */

.actionTextContainer {
    position: absolute;
    top: 9em;
    left: 50%;
    transform: translateX(-50%);
    z-index: var(--high-layer);
    width: max-content;
    padding: 1rem;
    image-rendering: pixelated;
    border-image-slice: var(--border-image-slice);
    border-image-width: var(--border-image-width);
    border-image-source: var(--border-image-source);
    border-image-repeat: var(--border-image-repeat);
    opacity: 1;
    animation: actionText 300ms ease-in; /* short fade-in */
}

@media screen and (max-width: 600px) {
    .actionTextContainer {
        top: 14em;
    }
}

.actionText {
    color: var(--font);
    background-color: var(--background-secondary);
}

@keyframes actionText {
    from { opacity: 0; }
    to { opacity: 1; }
}

