.background {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:  var(--width);
    height: var(--height);
    background-color: var(--background);
    z-index: var(--lowest-layer);
    border-radius: 5%;
}

.crt {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: var(--width);
    height: var(--height);
    background: linear-gradient(to top, hsla(0, 0%, 0%, 0.20), hsla(0, 0%, 0%, 0.20), hsla(0, 0%, 20%, 0.20), hsla(0, 0%, 20%, 0.20));
    background-size: cover;
    background-size: 100% 8px;
    z-index: var(--highest-layer);
    pointer-events: none;
    border-radius: 5%;
}

/* GLOW */

.glow {
    position: absolute;
    top: 50%;
    left: 50%;
    width:  var(--width);
    height: var(--height);
    transform: translate(-50%, -50%);
    border-radius: 5%;
    background-size: cover;
    pointer-events: none;
    filter: blur(100px) saturate(.6) brightness(1.2) opacity(.5);
    animation: glow 5s ease-in-out infinite;
	background-color: var(--background);
}

@keyframes glow {
    0%, 100% {     
        filter: blur(100px) saturate(.6) brightness(1.2) opacity(.5); }
    50% {     
        filter: blur(90px) saturate(.6) brightness(1.2) opacity(.5); }
}

.glow[data-glow='Field'] {
    background-image: url('/assets/backgrounds/Field.jpg');
}
.glow[data-glow='Forest'] {
    background-image: url('/assets/backgrounds/Forest.jpg');
}
.glow[data-glow='Desert'] {
    background-image: url('/assets/backgrounds/Desert.jpg');
}
.glow[data-glow='Cave'] {
    background-image: url('/assets/backgrounds/Cave.jpg');
}
.glow[data-glow='City'] {
    background-image: url('/assets/backgrounds/City.jpg');
}
.glow[data-glow='Snow'] {
    background-image: url('/assets/backgrounds/Snow.jpg');
}

/* LEVEL */

.currentLevelText, .scoreContainer span {
    color: var(--white);
    text-shadow: 2px 2px 1px var(--shadow);
}

.rightContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: auto;
}

.leftContainer {
    display: flex;
    align-items: center;
    margin-right: auto;
}

/* Settings icon */

.settingsContainer {
    margin-right: auto;
}

.settingsIcon {
    width: 4.5em;
    height: 4.5em;
    object-fit: contain;
    image-rendering: pixelated;
    cursor: pointer;
}

.settingsOverlay[data-open="true"] {
    position: absolute;
    top: -54%;
    left: -2.65%;
    width: var(--width);
    height: var(--height);
    background: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: var(--high-layer); 
    cursor: pointer;
    border-radius: 5%;
}

.settingsMenu[data-open="false"] {
    display: none;
}

.settingsMenu[data-open="true"] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    width: var(--menu-width);
    height: var(--menu-height);
    image-rendering: pixelated;
    border-image-slice: var(--border-image-slice);
    border-image-width: var(--border-image-width);
    border-image-source: var(--border-image-source);
    border-image-repeat: var(--border-image-repeat);
    color: var(--font);
    background-color: var(--background-secondary);
}

.settingsRow {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    gap: 0.25rem;
    font-size: 1.2rem;
    color: var(--font);
}

input[type="range"] {
    width: 10em;
    appearance: none;
    height: 8px;
    background: #444;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    margin-top: 4px;
}

input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 1.2rem;
    height: 1.2rem;
    background: #ccc;
    border: 2px solid #222;
    border-radius: 50%;
    box-shadow: 0 0 2px #000;
}

input[type="range"]::-webkit-slider-thumb:hover {
    background: #eee;
}