.action-menu-container {
    position: absolute;
    top: 0;
    background-color: transparent;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.75);
    z-index: 4;
}
.action-menu-container.character {
    left: 120%;
}
.action-menu-container.enemy {
    right: 120%;;
}

.action-menu-item {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.action-menu-button {
    padding: 5px 10px;
}