.board {
    display: grid;
    position: relative;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(16, 1fr);
    gap: 0.5em;
    background-image: url('/assets/backgrounds/Forest.png');
    background-size: 1416px 690px;
    width: 1416px;
    height: 690px;
    /* margin: 1em 0; */
    image-rendering: pixelated;
}

.square {
    width: 100px;
    height: 100px;
    background-color: lightgray;
    border: 1px solid darkgray;
}

.character-sprite {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: transparent;
}
/* .character-sprite.dead {
    filter:grayscale(1);
    background-color: transparent;
} */

.entity-container:hover {
    cursor: pointer;
}

.detail-screen-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9; 
}

.detail-screen-content {
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    z-index: 10; 
}


.begin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}