.board{
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 0.5em;
}

.square {
    width: 50px;
    height: 50px;
    background-color: lightgray;
    border: 1px solid darkgray;
}

.character-sprite {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: black;   /* means somethings missing */
    border: 1px solid darkgray;
}

/* temp */

#Warrior, #Skeleton {
    background-color: red;
}

#Mage, #Ghoul {
    background-color: blue;
}

#Cleric, #Zombie {
    background-color: green;
}

#Rogue, #Rat {
    background-color: yellow;
}

#Archer, #Wolf {
    background-color: purple;
}

#Bard, #Goblin {
    background-color: orange;
}

#Monk, #Ent {
    background-color: pink;
}