.level-layout {
    display: flex;
    flex-direction: column;
    position: relative;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 1416px;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}