.tutorialContainer {
    position: absolute;
    overflow: hidden;
    width: var(--width);
    height: var(--height);
    max-width: 100vw;
    max-height: 100vh;
    pointer-events: none;
    z-index: var(--tutorial-low-layer);
}

.tutorialContainer[data-is-visible='false'] {
    display: none;
}

.tutorialOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: auto;
    background-color: hsla(0, 0%, 0%, 0.9);
}

.tutorialOverlay[data-type='top'] {
    clip-path: inset(20% 0 0 0);
}

.tutorialOverlay[data-type='center'] {
    display: none;
}

.tutorialOverlay[data-type='right'] {
    clip-path: inset(0 0 0 50%);
}

.tutorialOverlay[data-type='left'] {
    clip-path: inset(0 50% 0 0);
}

.tutorialOverlayHole {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 15em;
    height: 15em;
    pointer-events: auto;
    background-color: transparent;
    border: 50em solid hsla(0, 0%, 0%, 0.9);;
    border-radius: 50%;
}

.tutorialOverlayHole[data-type='center'] {
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tutorialTextContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    pointer-events: auto;
}

.tutorialTextContainer[data-position='bottom'] {
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tutorialButtonContainer {
    display: flex;
    gap: 1rem;
}