.btn {
    color: white;
    background-color: #222222;
    border: 1px solid goldenrod;
    width: max-content;
    border-radius: 15px;
    line-height: 1.1rem;
    padding: 1rem;
}

.begin {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
}