.btn {
    background-color: transparent;
    width: max-content;
    line-height: 1.1rem;
    padding: 1rem;
    font-size: 1.25rem;
    image-rendering: pixelated;
    border-image-slice: 10 10 10 10;
    border-image-width: 80px 80px 80px 80px;
    border-image-source: url("/assets/Button_Border.png");
    border-style: solid;
    color: #cecece;
}

.btn:hover {
    cursor: pointer;
    filter: brightness(1.2);
}