.btn {
    color: rgb(46, 46, 46);
    /* background-color: black; */
    /* border: 1px solid white; */
    width: max-content;
    line-height: 1.1rem;
    /* padding: 1rem; */
    font-size: 1.25rem;
    /* border-image-slice: 18 18 18 18;
    border-image-width: 20px 20px 20px 20px;
    border-image-repeat: stretch stretch;
    border-image-source: url("../assets/Button.png");
    image-rendering: pixelated; */
    border: 0.5rem double rgb(46, 46, 46);
    image-rendering: pixelated;
}
.btn:hover {
    /* border-image-slice: 17 17 17 17;
    border-image-source: url("../assets/Button_Hover.png"); */
    border: 0.5rem solid rgb(46, 46, 46);


}
