.sprite-container {
    width: 128px;
    height: 128px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.sprite img {
    width: 128px;
    height: 128px;
    object-fit: contain;
    filter: drop-shadow(-20px 20px 4px rgba(0, 0, 0, 0.75));
    transition: filter 0.1s ease-in-out;
}


@keyframes flash-red {
    0%, 100% { filter: none; }
    50% { filter: drop-shadow(0 0 8px red) saturate(200%) brightness(1.5); }
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

.shake {
    animation: shake 0.3s ease-in-out 1;
}

.flash-red {
    animation: flash-red .3s ease-in-out;
}

[data-entity-modified="Fire"] img {
    filter: drop-shadow(1px 1px red) drop-shadow(1px -1px red)
    drop-shadow(-1px 1px red) drop-shadow(-1px -1px red)
    drop-shadow(-20px 20px 4px rgba(0, 0, 0, 0.75));
}

[data-entity-modified="Ice"] img {
    filter: drop-shadow(1px 1px lightblue) drop-shadow(1px -1px lightblue)
    drop-shadow(-1px 1px lightblue) drop-shadow(-1px -1px lightblue)
    drop-shadow(-20px 20px 4px rgba(0, 0, 0, 0.75));
}

[data-entity-modified="Dark"] img {
    filter: drop-shadow(1px 1px purple) drop-shadow(1px -1px purple)
    drop-shadow(-1px 1px purple) drop-shadow(-1px -1px purple)
    drop-shadow(-20px 20px 4px rgba(0, 0, 0, 0.75));
}

.damage-effect {
    animation: floatUp 1s ease-out forwards;
}

@keyframes floatUp {
    0% { opacity: 1; transform: translateY(0); }
    100% { opacity: 0; transform: translateY(-30px); }
}

.damage-effect.player {
    position: absolute;
    bottom: 100px;
    right: 100px;
    z-index: 3;
}

.damage-effect.npc {
    position: absolute;
    bottom: 100px;
    left: 100px;
    z-index: 3;
}

[data-damage-type="Fire"] {
    color: #fff;
    text-shadow:
        3px 3px 0 red,
        -3px 3px 0 red,
        -3px -3px 0 red,
        3px -3px 0 red;
}

[data-damage-type="Ice"] {
    color: #fff;
    text-shadow:
        3px 3px 0 blue,
        -3px 3px 0 blue,
        -3px -3px 0 blue,
        3px -3px 0 blue;
}