.main-container {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -5%);
    z-index: var(--mid-layer);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(var(--width) - 5%);
}

.start-game-btn {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: var(--mid-layer);
    font-size: 1.5rem;
}