.character-sheet-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}

.character-sheet {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border: 1px solid black;
}  

.character-sheet.isSelected {
    border-color: yellow;
}