.main-container {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -5%);
    z-index: var(--mid-layer);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1416px;
}

.start-game-btn {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: var(--mid-layer);
}