.current-turn-arrow {
    position: absolute;
    top: -200%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 2rem;
    animation: floatArrow 1s infinite ease-in-out;
}

@keyframes floatArrow {
    0%, 100% { transform: translateX(-50%) translateY(0); }
    50% { transform: translateX(-50%) translateY(-10px); }
}