.action-menu-container {
    position: absolute;
    top: 0;
    z-index: 4;
    width: max-content;
    line-height: 1.1rem;
    padding: 1rem;
    font-size: 1.25rem;
    image-rendering: pixelated;
    border-image-slice: var(--border-image-slice);
    border-image-width: var(--border-image-width);
    border-image-source: var(--border-image-source);
    border-image-repeat: var(--border-image-repeat);
    color: var(--font);
}
.action-menu-container.character {
    left: 120%;
}
.action-menu-container.enemy {
    right: 120%;;
}

.action-menu-item {
    display: flex;
    flex-direction: column;
}

.action-menu-button {
    padding: 5px 10px;
    background-color: var(--background-secondary);
    color: var(--font);
    border: 1px solid var(--background-secondary);
}
.action-menu-button:disabled, .action-menu-button:disabled:hover {
    cursor: not-allowed;
    filter: brightness(0.5);
}

.action-menu-button:hover {
    cursor: pointer;
    filter: brightness(1.2);
}