.current-turn-arrow img{
    position: absolute;
    top: 34%;
    left: -100%;
    width: 32px;
    height: 26px;
    animation: floatArrow 1s infinite ease-in-out;
    image-rendering: pixelated;
    z-index: 3;
}

@keyframes floatArrow {
    0%, 100% { transform: translateX(-50%); }
    50% { transform: translateX(0); }
}