/* NAME */

.spriteName {
    font-size: .9rem;
    z-index: var(--high-layer);
    margin-bottom: .25rem;
    color: var(--white);
    text-shadow: 
        2px 2px 2px var(--shadow);
}

.spriteName[data-type='npc'][data-entity-name='Fire'] {
    color: var(--fire);
    text-shadow:
        2px 2px 2px var(--white);
}

.spriteName[data-type='npc'][data-entity-name='Ice'] {
    color: var(--ice);
    text-shadow:
        2px 2px 2px var(--shadow);
}

.spriteName[data-type='npc'][data-entity-name='Dark'] {
    color: var(--dark);
    text-shadow:
        2px 2px 2px var(--white);
}

.spriteName[data-type='npc'][data-entity-name='Lightning'] {
    color: var(--lightning);
    text-shadow:
        2px 2px 2px var(--shadow);
}

.spriteName[data-type='npc'][data-entity-name='Holy'] {
    color: var(--holy);
    text-shadow:
        2px 2px 2px var(--shadow);
}

/* ARROW */

.currentTurnArrow img{
    position: absolute;
    top: 37%;
    left: -50%;
    width: 2.28em;
    height: 1.86em;
    animation: floatArrow 1000ms infinite ease-in-out;
    image-rendering: pixelated;
    z-index: var(--mid-layer);
}

@keyframes floatArrow {
    0%, 100% { transform: translateX(-50%); }
    50% { transform: translateX(0); }
}

/* MENU */

.actionMenuContainer {
    position: absolute;
    top: -25%;
    z-index: var(--high-layer);
    width: max-content;
    line-height: 1.1rem;
    padding: 1rem;
    font-size: 1.25rem;
    image-rendering: pixelated;
    border-image-slice: var(--border-image-slice);
    border-image-width: var(--border-image-width);
    border-image-source: var(--border-image-source);
    border-image-repeat: var(--border-image-repeat);
    color: var(--font);
}

.actionMenuContainer[data-type='character'] {
    left: 120%;
}

.actionMenuContainer[data-type='enemy'] {
    right: 120%;;
}

.actionMenuItem {
    display: flex;
    flex-direction: column;
}

.actionMenuButton {
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
    padding: 5px 10px;
    background-color: var(--background-secondary);
    color: var(--font);
    border: 1px solid var(--background-secondary);
}

.spellInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .25rem;
    margin-right: 1rem;
}

.spellCost {
    font-size: .8rem;;
}

.actionMenuButton:disabled, .actionMenuButton:disabled:hover {
    cursor: not-allowed;
    filter: brightness(0.5);
}

.actionMenuButton .spellName:hover {
    cursor: pointer;
    filter: brightness(1.2);
}

.spellName[data-element='Fire'] {
	color: var(--fire);
}

.spellName[data-element='Water'] {
	color: var(--water);
}
.spellName[data-element='Ice'] {
	color: var(--ice);
}

.spellName[data-element='Earth'] {
	color: var(--earth);
}

.spellName[data-element='Lightning'] {
	color: var(--lightning);
}

.spellName[data-element='Dark'] {
	color: var(--dark);
}

.spellName[data-element='Holy'] {
	color: var(--light);
}

.spellDamage[data-vulnerability='true'] {
    color: var(--buff);
}

.spellDamage[data-resistance='true'] {
    color: var(--debuff);
}

.spellDefense {
    font-size: .8rem;
}

@media screen and (max-height: 431px) {
    .actionMenuButton {
        padding: 2px 5px;
        font-size: 1.25rem;
    }
}

/* DETAIL SCREEN */

.trigger {
    position: absolute;
    z-index: var(--mid-layer);
    width: 2em;
    height: 2em;
    background-color: transparent;
}

.popup {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    padding: 2.5em;
    width: max-content;
    z-index: var(--high-layer);
    line-height: 1.75rem;
    image-rendering: pixelated;
    border-image-slice: var(--border-image-slice);
    border-image-width: var(--border-image-width);
    border-image-source: var(--border-image-source);
    border-image-repeat: var(--border-image-repeat);
}

.popup p, .popup h2 {
    color: var(--font);
    background-color: var(--background-secondary);
}

.detailName[data-element='Ice'] {
    color: var(--ice);
}

.detailName[data-element='Fire'] {
    color: var(--fire);
}

.detailName[data-element='Dark'] {
    color: var(--dark);
}

.detailStatus[data-buff='true'] {
    color: var(--buff);
    background-color: var(--background-secondary);
}

.detailStatus[data-debuff='true'] {
    color: var(--debuff);
    background-color: var(--background-secondary);
}

.detailValue {
    color: var(--white);
}

.detailValue[data-buff=true] {
    color: var(--buff);
}

.detailValue[data-buff=false] {
    color: var(--debuff);
}

/* More information button */

.moreInformationIcon {
    background-color: transparent;
    color: var(--buff);
    border: none;
    padding: 0 .5rem 0 1em;
    text-shadow: none;
}

.moreInformationText {
    display: none;
    position: fixed;
    bottom: 18vh; 
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
    max-width: 50em;
    padding: 2rem;
    line-height: 1.25rem;
    font-size: .9rem;
    text-wrap: pretty;
    image-rendering: pixelated;
    background-color: var(--background-secondary);
    border-image-slice: var(--border-image-slice);
    border-image-width: var(--border-image-width);
    border-image-source: var(--border-image-source);
    border-image-repeat: var(--border-image-repeat);
    color: var(--font);
    z-index: var(--high-layer);
    text-align: justify;
}

.moreInformationText p {
    padding: .25rem;
    font-size: .9rem;
}

/* .moreInformationWrapper {
    position: relative;
    display: inline-block;
} */

.moreInformationWrapper:hover 
.moreInformationText {
    display: block;
}

@media (max-width: 1920px) {
    .moreInformationText {
        bottom: 20vh; 

    }
}

@media (max-width: 1080px)  {
    .moreInformationText {
        bottom: 30vh; 
    }
}

@media (max-height: 431px)  {
    .moreInformationText {
        bottom: 3vh; 
    }
}

/* Target Arrow */

/* .targetArrow {
    position: absolute;
    top: -60%;
    left: 40%;
    transform: translateX(-50%);
    z-index: var(--high-layer);
    pointer-events: none;
    width: 2.28em;
    height: 1.86em;
    rotate: 90deg;
    animation: targetArrow 1000ms infinite ease-in-out;
} */
.targetArrow {
    position: absolute;
    top: -60%;
    left: 40%;
    transform: translateX(-50%);
    z-index: var(--high-layer);
    pointer-events: none;
    animation: targetArrow 1200ms infinite ease-in-out;
    image-rendering: pixelated;
    color: var(--white);
    text-shadow: none;
}

/* @keyframes targetArrow {
    0%, 100% { transform: translateX(-50%); }
    50% { transform: translateX(0%); }
} */
@keyframes targetArrow {
    0%, 100% { transform: translateY(-30%); }
    50% { transform: translateY(0%); }
}