/* NAME */

.spriteName {
    font-size: .9rem;
    z-index: var(--high-layer);
    margin-bottom: .25rem;
    text-shadow: 1px 0 10px var(--white) ;
    color: var(--white)
}

.spriteName[data-type='npc'][data-entity-name='Fire'] {
    color: var(--fire);
    text-shadow: 1px 0 10px var(--fire);
}
.spriteName[data-type='npc'][data-entity-name='Ice'] {
    color: var(--ice);
    text-shadow: 1px 0 10px var(--ice) ;
}
.spriteName[data-type='npc'][data-entity-name='Dark'] {
    color: var(--dark);
    text-shadow: 1px 0 10px  var(--dark);
}
.spriteName[data-type='npc'][data-entity-name='Lightning'] {
    color: var(--lightning);
    text-shadow: 1px 0 10px  var(--lightning);
}
.spriteName[data-type='npc'][data-entity-name='Holy'] {
    color: var(--holy);
    text-shadow: 1px 0 10px  var(--holy);
}

/* SHADOW */

.shadow {
    position: absolute;
    mix-blend-mode: multiply;
    filter: blur(8px);
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: var(--lowest-layer);
}

.shadow.follow[data-type='player'] {
	animation: followPlayerAnimation .9s linear 1 forwards;
}

@keyframes followPlayerAnimation {
    50% { left: -10%; width: 5.35em; filter: blur(4px); }
}

.shadow.follow[data-type='npc'] {
	animation: followNPCAnimation .9s linear 1 reverse;
}

@keyframes followNPCAnimation {
    50% { left: 15%; width: 5.35em; filter: blur(4px); }
}

.shadow[data-type='player'][data-light='Cave'] {
    bottom: -1em;
    left: -4.3em;
    width: 10.7em;
    height: 2.85em;
    transform: rotate3d(1, 1, 1, -15deg);
}

.shadow[data-type='npc'][data-light='Cave'] {
    bottom: -5px;
    left: 4.3em;
    width: 10.7em;
    height: 2.85em;
	transform: rotate3d(1, 1, 1, 10deg);
}

.shadow[data-type='player'][data-light='Forest'] {
    bottom: -1.43em;
    left: -2.85em;
    width: 8.9em;
    height: 2.85em;
    transform: rotate3d(1, 1, 1, -35deg);
}

.shadow[data-type='npc'][data-light='Forest'] {
    bottom: -1.43em;
    left: 2.5em;
    width: 8.9em;
    height: 2.85em;
	transform: rotate3d(1, 1, 1, 30deg);
}

.shadow[data-type='player'][data-light='Field'] {
    bottom: -1.43em;
    left: -2.5em;
    width: 7.15em;
    height: 3.6em;
    transform: rotate3d(1, 1, 1, -40deg);
}

.shadow[data-type='npc'][data-light='Field'] {
    bottom: -1.43em;
    left: 3.2em;
    width: 7.15em;
    height: 3.6em;
	transform: rotate3d(1, 1, 1, 40deg);
}

.shadow[data-type='player'][data-light='Desert'] {
    bottom: -1.43em;
    left: -10px;
    width: 7.15em;
    height: 3.6em;
    transform: rotate3d(1, 1, 1, -85deg);
}

.shadow[data-type='npc'][data-light='Desert'] {
    bottom: -5px;
    left: 1.43em;
    width: 8.9em;
    height: 3.6em;
	transform: rotate3d(1, 1, 1, -85deg);
}

.shadow[data-type='player'][data-light='City'] {
    bottom: -2.15em;
    left: -5em;
    width: 10.7em;
    height: 3.6em;
    transform: rotate3d(1, 1, 1, -50deg);
}

.shadow[data-type='npc'][data-light='City'] {
    bottom: -5px;
    left: 2.5em;
    width: 10.7em;
    height: 3.6em;
	transform: rotate3d(1, 1, 1, 5deg);
}

.shadow[data-type='player'][data-light='Snow'] {
    bottom: -1.43em;
    left: 2.5em;
    width: 5.7em;
    height: 3.6em;
    transform: rotate3d(1, 1, 1, -710deg);
}

.shadow[data-type='npc'][data-light='Snow'] {
    bottom: -2.15em;
    left: 1.8em;
    width: 7.15em;
    height: 3.6em;
    transform: rotate3d(1, 1, 1, 30deg);
}


/* ARROW */

.currentTurnArrow img{
    position: absolute;
    top: 37%;
    left: -50%;
    width: 2.28em;
    height: 1.86em;
    animation: floatArrow 1s infinite ease-in-out;
    image-rendering: pixelated;
    z-index: var(--mid-layer);
}

@keyframes floatArrow {
    0%, 100% { transform: translateX(-50%); }
    50% { transform: translateX(0); }
}

/* MENU */

.actionMenuContainer {
    position: absolute;
    top: 0;
    z-index: var(--high-layer);
    width: max-content;
    line-height: 1.1rem;
    padding: 1rem;
    font-size: 1.25rem;
    image-rendering: pixelated;
    border-image-slice: var(--border-image-slice);
    border-image-width: var(--border-image-width);
    border-image-source: var(--border-image-source);
    border-image-repeat: var(--border-image-repeat);
    color: var(--font);
}

.actionMenuContainer[data-type='character'] {
    left: 120%;
}

.actionMenuContainer[data-type='enemy'] {
    right: 120%;;
}

.actionMenuItem {
    display: flex;
    flex-direction: column;
}

.actionMenuButton {
    padding: 5px 10px;
    background-color: var(--background-secondary);
    color: var(--font);
    border: 1px solid var(--background-secondary);
}

.actionMenuButton:disabled, .actionMenuButton:disabled:hover {
    cursor: not-allowed;
    filter: brightness(0.5);
}

.actionMenuButton:hover {
    cursor: pointer;
    filter: brightness(1.2);
}

/* DETAIL SCREEN */

.trigger {
    position: absolute;
    z-index: var(--mid-layer);
    width: 2em;
    height: 2em;
    background-color: transparent;
}

.popup {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    padding: 2.15em;
    width: max-content;
    z-index: var(--high-layer);
    line-height: 1.75rem;
    image-rendering: pixelated;
    border-image-slice: var(--border-image-slice);
    border-image-width: var(--border-image-width);
    border-image-source: var(--border-image-source);
    border-image-repeat: var(--border-image-repeat);
}

.popup p, .popup h2 {
    color: var(--font);
    background-color: var(--background-secondary);
}

.detailStatus {
    color: var(--fire);
    background-color: var(--background-secondary);
}

.detailValue {
    color: var(--fire);
}

/* Action Menu */
.actionMenuButton[data-element='Fire'] {
	color: var(--fire);
}

.actionMenuButton[data-element='Water'] {
	color: var(--water);
}
.actionMenuButton[data-element='Ice'] {
	color: var(--ice);
}

.actionMenuButton[data-element='Earth'] {
	color: var(--earth);
}

.actionMenuButton[data-element='Lightning'] {
	color: var(--lightning);
}

.actionMenuButton[data-element='Dark'] {
	color: var(--dark);
}

.actionMenuButton[data-element='Holy'] {
	color: var(--light);
}